.default_btn {
    max-width: 100%;
    padding: 10px 10px;
    cursor: pointer;
    color:#e0e0e0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;

}

.default_btn:hover {
    /* font-size: 15px; */
    /* padding: 9px 10px; */
    color:#ffffff;
}

.default_btn:active {
    /* font-size: 13px; */

}