.profilePage {
    height: 100%;
    display: flex; 
    flex-direction: column;
}

.profilePage_container {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    
}

.profile_wrapper {
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 3;

}

.profile_wrapper label {
    font-weight: bold;
}

.profilePage .profile {
    display: flex;
    justify-content: space-between;
    gap: 10px;


}

.profilePage .profile .name, .email {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 3;
}

.profilePage .password {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profilePage .new-password {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.profilePage .password .first, .second {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 3;
}

.profilePage .btn {
    display: flex;
    gap: 10px;
    justify-content: end;
}