.bookList_container h1 {
    text-transform: uppercase;
    text-align: center;
}
.bookList_container .bookList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-between; */
    justify-content: space-around;
    padding: 20px 0 30px;
}

.bookList_container .bookList .book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 300px;
    background-color: aliceblue;
    box-shadow: 0 5px 5px grey;
}

.bookList_container .bookImg img {
    width: 300px;
}

.bookList_container .bookPrice {
    display: flex;
    justify-content: space-between;
}

.bookList_container .pagination {
    padding: 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination p {
    padding: 5px 10px;
    cursor: pointer;

}

hr {
    opacity: .3;
}