.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.cart_item .about {
    flex-grow: 2;
 }

.price {
    padding: 0 80px 0 20px;
 }

.bookTitle {
    padding: 20px 0;
}

.bookTitle a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.bookSubtitle {
    padding-bottom: 20px;
}

.bookSubtitle p {
    color: rgb(179, 179, 179);
}

.bookCount {
    padding-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.bookCount p {
    font-weight: bold;
    font-size: 20px;
}

.decrement {
    text-align: center;
}

.decrement,
.increment {
    border: 1px solid black;
    border-radius: 2px;
    font-size: 24px;
    padding: 0 5px;
    width: 15px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}


.dropBooks p {
    cursor: pointer;
    user-select: none;
    padding: 5px;
    transform: rotate(45deg);
    font-size: 24px;
    color: rgb(214, 214, 214);
}

.dropBooks p:hover {
    color: rgb(158, 158, 158);
}

.dropBooks p:active {
    color: rgb(185, 185, 185);
}

.price p {
    font-weight: bold;
    font-size: 20px;
}