.releases {
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.releases_container {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}