.nav_container {
    margin: 20px 0 30px;
    
}

.flex_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.search {
    width: 50%;
}


.logo {
    font-size: 20px;
}

.menu_wrapper {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_wrapper img {
    
    width: 20px;
}

.flex_wrapper .logo, .menu_wrapper .liked, .cart, .profile {
    cursor: pointer;
}

.flex_wrapper .logo, .menu_wrapper {
    width: 15%;
}